<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced CSS</title>
</head>
<body>
    <header class="nugget">
        <a href = "index.html"><img src = "images/logo.jfif"></a>
        <img src="/Layout/images/Bachelor's_button,_Basket_flower,_Boutonniere_flower,_Cornflower_-_3.jpg" alt="flower" class="flower">
        <h1>Advanced CSS</h1>
        <p>We will use CSS to float elements side by side.  </p>
    </header>
    
  <main class = "clearfix nugget">
    <h1>Content Element</h1>
    <p>This container has two sections labeled as Right and Left.</p>
    <section class = "column">column 1
      <p>I love chicken nuggets, and tacos :P</p>
    </section>
    <section class = "column">column 2
            <p>I love chicken nuggets, and tacos :P 98ty348yi4ug3guirgivfgdgvifugugwwgigwgewg</p>
    </section> 
    <section class = "column">column 3
            <p> Weive been eating rocks this whole time!!!! (oreos)</p>
    </section> 

  </main>
 
  <footer class="nugget">&copy; Murphy's Place 2024</footer>
</body>
</html>